# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.
#
# ,--------.      ,--.   ,--. ,--.
# '--.  .--',---.  \  `.'  /,-'  '-.
#    |  |  | .-. :  .'    \ '-.  .-'
#    |  |  \   --. /  .'.  \  |  |
#    `--'   `----''--'   '--' `--'

## => Site Settings
##############################
text_skin: "dark" # "default" (default), "dark", "forest", "ocean", "chocolate", "orange"
highlight_theme: default # "default" (default), "tomorrow", "tomorrow-night", "tomorrow-night-eighties", "tomorrow-night-blue", "tomorrow-night-bright"
# url: "https://username.github.io"
# baseurl: /baseurl # does not include hostname
title: 10.020 Data Driven World
description: > # this means to ignore newlines until "Language & timezone"
  Welcome to 10.020 Data Driven World Course Site!

## => Language and Timezone
##############################
lang: en # the language of your site, default as "en"

## => Author and Social
##############################
author:
  type: # "person" (default), "organization"
  name: Oka Kurniawan
  url:
  avatar: # path or url of avatar image (square)
  bio: I will tell you more when we meet.
  email: oka_kurniawan@sutd.edu.sg
  facebook: # "user_name" the last part of your profile url, e.g. https://www.facebook.com/user_name
  twitter: # "user_name" the last part of your profile url, e.g. https://twitter.com/user_name
  weibo: # "user_id"   the last part of your profile url, e.g. https://www.weibo.com/user_id/profile?...
  googleplus: # "user_id"   the last part of your profile url, e.g. https://plus.google.com/u/0/user_id
  telegram: # "user_name" the last part of your profile url, e.g. https://t.me/user_name
  medium: # "user_name" the last part of your profile url, e.g. https://medium.com/user_name
  zhihu: # "user_name" the last part of your profile url, e.g. https://www.zhihu.com/people/user_name
  douban: # "user_name" the last part of your profile url, e.g. https://www.douban.com/people/user_name
  linkedin: # "user_name" the last part of your profile url, e.g. https://www.linkedin.com/in/user_name
  github: # "user_name" the last part of your profile url, e.g. https://github.com/user_name
  npm: # "user_name" the last part of your profile url, e.g. https://www.npmjs.com/~user_name

## => GitHub Repository (if the site is hosted by GitHub), won't be useful if you don't enable _show_edit_on_github
##############################
repository: Data-Driven-World/Data-Driven-World.github.io
repository_tree: main

## => Paths
##############################
paths:
  root: # title link url, "/" (default)
  home: # home layout url, "/" (default)
  archive: # "/archive.html" (default)
  rss: # "/feed.xml" (default)

## => Post
##############################
## excerpt
excerpt_separator: <!--more-->

## license
license: CC-BY-NC-4.0 # "CC-BY-4.0", "CC-BY-SA-4.0", "CC-BY-NC-4.0", "CC-BY-ND-4.0"

## TOC
toc:
  selectors: "h1,h2,h3" # (default)

## => Markdown Enhancements
##############################
## Mathjax
mathjax: true # false (default), true
mathjax_autoNumber: true # false (default), true

## Mermaid
mermaid: true # false (default), true

## Chart
chart: true # false (default), true

## => Paginate
# useful to show blogpost
##############################
# paginate: 8
# paginate_path: /page:num # don't change this unless for special need

## => Comments
##############################
comments:
  provider: false # false (default), "disqus", "gitalk", "valine", "custom"

## => Search
##############################
search:
  provider: default # "default" (default), false, "google", "custom"

  ## Google Custom Search Engine
  google:
    custom_search_engine_id: # Google Custom Search Engine ID

## => Build
##############################
markdown: kramdown
highlighter: rouge
permalink: date

exclude:
  - CHANGELOG.md
  - HOW_TO_RELEASE.md
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README-*.md
  - README.md
  - gulpfile.js
  - jekyll-text-theme.gemspec
  - package-lock.json
  - package.json
  - /docs
  - /node_modules
  - /screenshots
  - /test
  - /vendor

defaults:
  ## home
  - scope:
      path: ""
      type: posts
    values:
      layout: article
      #sidebar:
      #  nav: layouts
      sharing: true
      license: true
      aside:
        toc: true
      show_edit_on_github: true
      show_subscribe: true
      pageview: true

collections:
  Notes:
    output: true
  collection2:
    output: false
  collection3:
    output: false

## => Plugins
##############################
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap
  - jemoji
