/* start custom scss snippet */
.btnScrollToTop {
  opacity: 0;
  width: 40px;
  height: 40px;
  color: #282b31;
  background-color: $main-color-1;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  font: bold 20px monospace;
  transition: opacity 0.5s, transform 0.5s;
}

.btnScrollToTop.show {
  opacity: 1;
  transition: opacity 1s, transform 1s;
}

.btnScrollToTop:active {
  background-color: #444;
}

.center_full {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center_seventy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.center_fifty {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center_fourty {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.blueborder {
  border-style: solid;
  border-color: #287ec7;
  padding: 10px;
  line-height: 1.8;
  color: black;
}

.redborder {
  border-style: solid;
  border-color: #ff0000;
  padding: 10px;
  line-height: 1.8;
}

.greenbox {
  background-color: #cfc;
  padding: 10px;
  border: 1px solid green;
  line-height: 1.8;
  color: black;
}

.orangebox {
  background-color: #ffe4b5;
  padding: 10px;
  border: 1px solid #ff8c00;
  line-height: 1.8;
  color: black;
}

.redbox {
  background-color: #ffe4e1;
  border: 1px solid #fa8072;
  display: block;
  padding: 10px;
  line-height: 1.8;
  color: black;
}

.bluebox {
  background-color: #f0f8ff;
  border: 1px solid #87cefa;
  display: block;
  padding: 10px;
  color: black;
  line-height: 1.8;
}

.yellowbox {
  background-color: #fff7aa;
  display: block;
  padding: 10px;
  line-height: 1.8;
  color: black;
}

.redtext {
  color: red;
}

.bluetext {
  color: blue;
}

.orangetext {
  color: #ff791a;
}

.greentext {
  color: green;
}

.collapsible_code {
  font-size: 0.9em;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: $main-color-3;
  color: $text-color;
  cursor: pointer;
  padding: 5px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 20pt;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
//   .active,
.collapsible.active,
.collapsible:hover,
collapsible:focus {
  background-color: $main-color-1;
}

/* Style the collapsible content. Note: hidden by default */
.content_answer {
  padding: 0 10px;
  display: none;
  overflow: hidden;
  color: $text-color;
  background-color: $main-color-3;
  font-size: 0.9em;
}

/* theme toggle button */
.theme-toggle-button{
  display: flex;
  height: 100%;
  padding: 1rem;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
}

.theme-toggle-button.active{
  background-color: none;
}
/* end custom scss snippet */
